@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 200 63% 29%;
    --primary-foreground: 210 40% 98%;

    --secondary: 199 36% 65%;
    --secondary-foreground: 222 47% 11%;

    --accent: 17 68% 54%;
    --accent-foreground: 210 40% 98%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --ring: 200 63% 29%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;

    --primary: 200 63% 29%;
    --primary-foreground: 210 40% 98%;

    --secondary: 199 36% 65%;
    --secondary-foreground: 222 47% 11%;

    --accent: 200 63% 29%;
    --accent-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --ring: 200 63% 29%;
  }
}

.custom-sheet button.absolute.right-4.top-4 svg {
  height: 2rem;
  width: 2rem;
}

body {
  background-color: #edf2fb
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-whale-watching {
  @apply text-primary;
}

.bg-aluminum-industry {
  @apply bg-industrial;
}

.bg-patagonian-coast {
  @apply bg-coastal-gradient;
}

.text-welsh-heritage {
  @apply text-heritage;
}

.bg-marine-life {
  @apply bg-marine;
}

