.editorContent {
  min-height: 150px;
  padding: 0.5rem;
  border: solid 0px !important;
  color: #677788;
}

.editorContent p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.editorContent ul {
  list-style-type: disc;
  margin-left: 20px;
}

.editorContent ul li {
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

.editorContent ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.editorContent ol li {
  margin-bottom: 0.5rem;
  margin-left: 20px;
}